/* Estilo de la tarjeta */
.card {
  border-left: 1px solid #ddd; /* Añade un borde izquierdo al elemento card */
  border-radius: 4px; /* Define el radio del borde de la tarjeta */
  position: relative;
}

/* Estilo para el título de la tarjeta */
.title-card {
  font-family: 'Montserrat';
  font-weight: Bold;
  font-size: 18px;
  color: #3f3f3f;
  line-height: 23px;
  letter-spacing: 0px;
}

/* Estilo para el segundo elemento de texto en la tarjeta */
.second-item {
  font-family: 'Montserrat';
  font-weight: Medium;
  font-size: 18px;
  color: #3f3f3f;
  line-height: 23px;
  letter-spacing: 0px;
}

/* Estilo para el texto auxiliar en la tarjeta */
.text-aux {
  font-family: 'Montserrat';
  font-weight: Bold;
  font-size: 18px;
  color: #363636;
  line-height: 23px;
  letter-spacing: 0px;
}

/* Estilo para el valor de la tarjeta */
.card-value {
  font-family: 'Montserrat';
  font-weight: Medium;
  font-size: 18px;
  color: #00C83C;
  line-height: 23px;
  letter-spacing: 0px;
}

/* Estilo para la primera parte del texto más pequeño en la tarjeta */
.styleOne {
  font-family: 'Verdana';
  font-weight: bold;
  font-size: 12px;
  color: #3f3f3f;
  line-height: 18px;
  letter-spacing: 0px;
}

/* Estilo para la segunda parte del texto más pequeño en la tarjeta */
.styleTwo {
  font-family: 'Verdana';
  font-weight: bold;
  font-size: 12px;
  color: #f39200;
  line-height: 18px;
  letter-spacing: 0px;
}

/* Estilo para la posición de la fila */
.row {
  position: relative;
}

/* Estilo para la posición y el diseño de los controles del carrusel */
.carousel-controls {
  position: absolute;
  top: 95px;
  left: -60px;
  right: -60px;
  bottom: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

/* Estilos para los botones de control del carrusel (prev y next) */
.carousel-control-prev,
.carousel-control-next {
  background-color: #00C83C;
  color: #f3f3f3;
  font-size: 2rem;
  padding: 5px 15px;
  border-radius: 50%;
  width: auto;
  height: auto;
  opacity: 1;
  pointer-events: auto;
}

/* Estilos para los botones de control del carrusel en hover */
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  cursor: pointer;
}

/* Estilo para el contenedor de tarjetas */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para la tarjeta personalizada */
.card.custom-card {
  margin: 0 10px;
}
.card-checkbox {
  position: absolute;
  top: 10px;
  right: 10px;
}


.checkbox-container {
  position: absolute;
  z-index: 102;
  top: 10px;
  right: 10px;
}

.my-button {
  background-color: #E2E2E2;
  border-color: #E2E2E2;
font-family: 'Montserrat';
font-weight: bold;
font-size: 16px;
color: #3f3f3f;
line-height: 18px;
letter-spacing: 0px;
}

.my-button.green {
  background-color: #00C83C;
  /* Establece otros estilos para el botón verde si es necesario */
}


@media (max-width: 576px) {
  .row{
    margin-left: 100px;
  }
}





