

<nav class="navbar custom-navbar mb-3">
  <div class="container-fluid container-main" style="width: 100%;">
    <button class="navbar-toggler navbar-toggler-icon" type="button" (click)="openSidebar()"></button>
    <div class="navbar-text-one">
      <div style="display: flex; align-items: left;">
        <img id="profile-img" class="profile-img-card" src="../../../assets/img/Group 123.svg"> 
        <div class="spanLine">
          <span></span>
        </div>
        <span style="margin-left: 5px;">Plan Financiero Digital - FPX</span>
      </div>
    </div>
    <div class="navbar-text-two">
      <div style="display: flex; align-items: left;">
        <img id="profile-img1" class="profile-img-card2" src="../../../assets/img/Happy.svg"> 
        <span style="margin-right: 52px;">Tu Financial Planner</span>
      </div>
      <div>
        <div style="display: flex; align-items: left;">
          <img id="profile-img2" class="profile-img-card2" src="../../../assets/img/hand3.svg"> 
          <span class="plan-financiero">Aportes</span>
        </div>    
      </div>
      <div>
        <div class="navbar-text-three" style="margin-left: auto;">
          <div style="display: flex; align-items: left;">
            <div class="image-container">
              <img id="profile-img3" class="profile-img-card2" src="../../../assets/img/compfaq.svg">
              <div class="text-container">
                <p class="hover-text">Preguntas Frecuentes</p>
              </div>
            </div> 
          </div>    
        </div>  
      </div>
    </div>
  </div>
</nav>

