<div class="h-100vh custom-sidebar d-flex flex-column" style="background-color: #E2E2E2;">
    <hr />
    <div class="offcanvas-body px-3 py-0" style="height: calc(100vh - 120px); overflow-y: auto;">
      <ul class="nav nav-pills flex-column mb-auto" style="height: 100%;">
        <li class="nav-item-home">
          <a routerLink="/home" routerLinkActive="active" (click)="activeOffcanvas.dismiss(); home()" style="color: #fff;">
            <img class="bi bi-house-fill me-2" src="../../../../assets/img/home.svg" width="16" height="16" alt="Inicio" />
            Inicio
          </a>
        </li>
        <li class="nav-item">
          <a>
            <img class="bi bi-house-fill me-2" src="../../../../assets/img/hoja1.svg" width="16" height="16" alt="Inicio" />
            Contratos
          </a>
        </li>
        <li class="nav-item">
          <a>
            <img class="bi bi-house-fill me-2" src="../../../../assets/img/Tool.svg" width="16" height="16" alt="Inicio" />
            Acciones
          </a>
        </li>
        <li class="nav-item">
          <a>
            <img class="bi bi-house-fill me-2" src="../../../../assets/img/star.svg" width="16" height="16" alt="Inicio" />
            Objetivos
          </a>
        </li>
        <li class="nav-item">
          <a>
            <img class="bi bi-house-fill me-2" src="../../../../assets/img/Tool.svg" width="16" height="16" alt="Inicio" />
            Herramientas
          </a>
        </li>
        <li class="nav-item">
          <a>
            <img class="bi bi-house-fill me-2" src="../../../../assets/img/talk2.svg" width="16" height="16" alt="Inicio" />
            Servicio al cliente
          </a>
        </li>
        <div style="height: calc(100% - 342px);"></div>
      </ul>
      
    </div>
    <div></div>
  </div>
  